[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

betamax = "*"
httpretty = "*"
hypothesis = "*"
MutPy = "*"
pytest = "*"
requests = "*"
WebTest = "*"


[requires]
python_version = "3.6"
